@import "./partial/reset";
@import "./partial/colori";
@import "./partial/fonts";
@import "./partial/spaziature";
@import "./partial/bottoni";
@import "./partial/mixinsGenerici";
@import "./partial/animazioni";

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 0;
  margin-bottom: 30px;
  padding: 30px 70px 0px 70px;
  #sassLogo {
    height: 70px;
  }

  #ulContainer {
    width: 25%;
    ul {
      display: flex;
      list-style: none;
      justify-content: space-between;
    }
  }
}

#hero {
  display: flex;
  justify-content: space-evenly;
  background-color: $colore-sfondo;
  color: $colore-testo;
  padding: 30px;
  #textHeroArea {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    h1 {
      @include title-big($size-6, 700);
      animation: fadeInUp 1s ease-out forwards;
      opacity: 0;
      transform: translateY(-20px) scale(0.9);
      animation-delay: 0.2s;
    }
    p {
      animation: fadeInUp 1s ease-out forwards;
      opacity: 0;
      transform: translateY(-20px) scale(0.9);
      animation-delay: 0.4s;
    }
    div {
      animation: fadeInUp 1s ease-out forwards;
      opacity: 0;
      transform: translateY(-20px) scale(0.9);
      animation-delay: 0.6s;
    }
  }

  @keyframes fadeInUp {
    0% {
      opacity: 0;
      transform: translateY(-20px) scale(0.9);
    }
    100% {
      opacity: 1;
      transform: translateY(0) scale(1);
    }
  }

  #sassImgArea {
    width: 25%;
    img {
      height: 300px;
    }
  }
}

#griglia {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 50px;
}

.imgContainer {
  display: flex;
  width: 20%;
}

.imgContainer img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}
