@import "./colori";

@each $key, $color in $coloriBtn {
  .btnColor-#{$key} {
    background-color: $color;
    color: $colore-testo;
    font-size: $size-3;
  }
  .btnColor-#{$key}:hover {
    font-size: $size-4;
  }
}
