$font-serif: Georgia, "Times New Roman", Times, serif;
$font-sans-serif: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

$size-0: 0;
$size-1: 0.25rem;
$size-2: 0.5rem;
$size-3: 1rem;
$size-4: 1.5rem;
$size-5: 3rem;
$size-6: 5rem;

@mixin title-big($font-size, $font-weight) {
  font-family: $font-serif;
  font-size: $font-size;
  font-weight: $font-weight;
  line-height: 1.2;
  padding: 20px;
  margin: 0;
  text-align: center;
  text-transform: uppercase;
}
