$spacings: (
  sm: 0.25rem,
  normal: 0.5rem,
  md: 1rem,
  lg: 1.5rem,
  xl: 2rem,
  xxl: 3rem,
);

@mixin spacing($property, $direction, $size) {
  #{$property}-#{$direction}: map-get($spacings, $size);
}
